@model IEnumerable<BEUPelicula.tblPelicula>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de peliculas</h2>

<p>
    @Html.ActionLink("Agregar nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estreno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estreno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
